<div class="container">
  <h1>Hola este es mi primer proyecto</h1>
  <h2>{{welcome}}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{task}}
    </li>
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>La suma de 3 + 3 es: {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person().avatar" alt="">
  <input type="number" [value]="person().age">
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person().name }}</p>
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Double me</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <p>(keydown shift)</p>
  <input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name: {{ name() }} </p>
  <hr />
  <h1>Directicas de control</h1>
  <p>Total elementos: {{tasks().length}}</p>
  <ul>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{task}}
    </li>
  </ul>
  <hr />
  <div *ngIf="1 !== 1">
    My contend
  </div>
  <div *ngIf="name() === 'Jorge'">
    Soy Jorge
  </div>
  @if (name() === 'Jorge') {
    <div>Soy Jorge</div>
  }
  <input type="number" [value]="person().age" (change)="changeAge($event)">
  <div *ngIf="person().name === 'Jorge' && person().age > 18; else elseBlock">
    Soy Jorge y soy mayor de 18
  </div>
  <ng-template #elseBlock>
    Soy Jorge y soy menor de edad
  </ng-template>
  <h2>If else new syntax</h2>
  @if (person().name === 'Jorge' && person().age > 18) {
    <strong>Soy Jorge y soy mayor de 18 años</strong>
  } @else {
    <i>Soy Jorge y soy menor de 18</i>
  }
  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'">Yo soy nicolas</p>
    <p *ngSwitchCase="'julian'">Yo soy julian</p>
    <p *ngSwitchCase="'Jorge'">Yo soy Jorge</p>
    <p *ngSwitchCase="'Isabela'">Yo soy Isabela</p>
    <p *ngSwitchDefault>Yo no soy nadie</p>
  </div>
  <hr />
  <p>Manejo de inputs de manera más profesional(Recomendado usar esta forma)</p>
  <input type="color" [formControl]="colorCtrl">
  <p>Color: {{ colorCtrl.value }}</p>
  <hr />
  <h1>Estilos al modo Angular</h1>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <h1>Clases en Angular</h1>
  <p>
    <input type="text" [formControl]="nameCtrl"> <br />
    <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  </p>
  <p>
    <input type="text">
  </p>
  <hr />
  <h2>New for</h2>
  <p>Total elementos: {{tasks().length}}</p>
  <ul>
    <li *ngFor="let task of tasks(); index as i">
      {{i}} {{task}}
    </li>
  </ul>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
      <li>{{ i }}  {{task}}</li>
    } @empty {
      <li><strong>La lista esta en vacio</strong></li>
    }
  </ul>
  <hr />
  <h2>New Switch</h2>
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'nicolas'">Yo soy nicolas</p>
    <p *ngSwitchCase="'julian'">Yo soy julian</p>
    <p *ngSwitchCase="'Jorge'">Yo soy Jorge</p>
    <p *ngSwitchCase="'Isabela'">Yo soy Isabela</p>
    <p *ngSwitchDefault>Yo no soy nadie</p>
  </div>
  <div>
    @switch (person().name) {
      @case ('nicolas') {
        <p>Yo soy nicolas</p>
      }
      @case ('julian') {
        <p>Yo soy julian</p>
      }
      @case ('Jorge') {
        <p>Yo soy Jorge</p>
      }
      @case ('Isabela') {
        <p>Yo soy Isabela</p>
      }
      @default {
        <p>Yo no soy nadie</p>
      }
    }
  </div>
</div>